{% extends "oscar/layout.html" %}

{% block content_wrapper %}
<div class="{% block content_wrapper_classes %}container-fluid page{% endblock %}">
    <div class="page_inner">
        {% block breadcrumbs %}{% endblock %}
        <div class="row">

            <aside class="sidebar col-lg-3 col-md-4 col-sm-12">
                {% block column_left %}{% endblock %}
                {% block column_left_extra %}{% endblock %}
            </aside>

            <main class="col-lg-9 col-md-8 col-sm-12">
                {% block header %}
                <div class="page-header">
                    <h1>{% block headertext %}{% endblock %}</h1>
                </div>
                {% endblock %}

                {% include "oscar/partials/alert_messages.html" %}

                {% block pre_content %}{% endblock %}
                {% block content %}{% endblock %}
            </main>

        </div><!-- /row -->
    </div><!-- /page_inner -->
</div><!-- /container-fluid -->
{% endblock %}