{% extends "oscar/base.html" %}
{% load static %}
{% load i18n %}
{% load currency_filters %}
{% load category_tags %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/dashboard.css" %}" />
{% endblock %}

{% block layout %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <h3 class="text-light h3 py-2 px-2 fw-bolder">
        <strong>{{ shop_name }}</strong>
    </h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top_nav_bar" aria-controls="top_nav_bar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="top_nav_bar">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav text-light">
            {% include "oscar/partials/search.html" %}
            {% block nav_account_languages %}
                {% if LANGUAGES|length > 1 %}
                    <form id="language_selector" class="form-inline mb-0 mt-2 mt-lg-0" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ language_neutral_url_path }}" />
                        <div class="form-group mb-0">
                            <select name="language" class="form-control">
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                        {{ language.name_local }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-outline-secondary ml-2" type="submit" data-loading-text="{% trans 'Submitting...' %}">{% trans "Go" %}</button>
                    </form>
                {% endif %}
            {% endblock %}

            {% if user.is_authenticated %}
                {% block nav_account_navbar_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong>{{ user.get_full_name|default:request.user.email }}</strong>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            {% if user.is_staff or perms.partner.dashboard_access %}
                                <a class="dropdown-item" href="{% url 'dashboard:index' %}"><i class="fas fa-server"></i> {% trans "Backend" %}</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'customer:summary' %}"><i class="fas fa-user"></i> {% trans "Account" %}</a>
                            <a class="dropdown-item" href="{% url 'dashboard:logout' %}"><i class="fas fa-sign-out-alt"></i> {% trans "Log out" %}</a>
                        </div>
                    </li>
                {% endblock %}
            {% else %}
                <li class="nav-item mr-2">
                    <a id="login_link" href="{% url 'customer:login' %}" class="nav-link text-light">
                        <strong>{% trans "Login or register" %}</strong>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock navbar %}
    {% block content_wrapper %}
        <div class="container page">
            <div class="page_inner">
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "oscar/partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}

                    {# Div exists for AJAX updates to entire content section #}
                    <div id="content_inner">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% include "oscar/partials/footer.html" %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script src="{% static "oscar/js/bootstrap4/bootstrap.bundle.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}"></script>
{% endblock %}

{% block extrascripts %}
    {% include "oscar/partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
